<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instrument.mall.mapper.MallGoodsMapper">
    
    <resultMap type="MallGoods" id="MallGoodsResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="images"    column="images"    />
        <result property="price"    column="price"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectMallGoodsVo">
        select id, title, images, price, is_deleted, create_time, update_time, create_by, update_by from mall_goods
    </sql>

    <select id="selectMallGoodsList" parameterType="MallGoods" resultMap="MallGoodsResult">
        <include refid="selectMallGoodsVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="price != null "> and price &gt;= #{price}</if>
        </where>
    </select>
    
    <select id="selectMallGoodsById" parameterType="Long" resultMap="MallGoodsResult">
        <include refid="selectMallGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMallGoods" parameterType="MallGoods" useGeneratedKeys="true" keyProperty="id">
        insert into mall_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="images != null">images,</if>
            <if test="price != null">price,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="images != null">#{images},</if>
            <if test="price != null">#{price},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateMallGoods" parameterType="MallGoods">
        update mall_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="images != null">images = #{images},</if>
            <if test="price != null">price = #{price},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMallGoodsById" parameterType="Long">
        delete from mall_goods where id = #{id}
    </delete>

    <delete id="deleteMallGoodsByIds" parameterType="String">
        delete from mall_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>