<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instrument.music.mapper.InstrumentCategoryMapper">

    <resultMap type="com.instrument.music.domain.InstrumentCategory" id="InstrumentCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInstrumentCategoryVo">
        select id, name, create_by, create_time, update_by, update_time from music_instrument_category
    </sql>

    <select id="selectInstrumentCategoryList" parameterType="InstrumentCategory" resultMap="InstrumentCategoryResult">
        <include refid="selectInstrumentCategoryVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectInstrumentCategoryById" parameterType="Long" resultMap="InstrumentCategoryResult">
        <include refid="selectInstrumentCategoryVo"/>
        where id = #{id}
    </select>
    <select id="selectInstrumentCategoryByIds" resultType="com.instrument.music.domain.InstrumentCategory">
        <include refid="selectInstrumentCategoryVo"/>
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertInstrumentCategory" parameterType="InstrumentCategory" useGeneratedKeys="true" keyProperty="id">
        insert into music_instrument_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateInstrumentCategory" parameterType="InstrumentCategory">
        update music_instrument_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInstrumentCategoryById" parameterType="Long">
        delete from music_instrument_category where id = #{id}
    </delete>

    <delete id="deleteInstrumentCategoryByIds" parameterType="String">
        delete from music_instrument_category where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>