<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instrument.music.mapper.MusicRecognitionMapper">

    <resultMap type="MusicRecognition" id="MusicRecognitionResult">
        <result property="id"    column="id"    />
        <result property="instrumentId"    column="instrument_id"    />
        <result property="result"    column="result"    />
        <result property="url"    column="url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMusicRecognitionVo">
        select id, instrument_id, result, url, create_by, create_time, update_by, update_time from music_recognition
    </sql>

    <select id="selectMusicRecognitionList" parameterType="MusicRecognition" resultMap="MusicRecognitionResult">
        <include refid="selectMusicRecognitionVo"/>
        <where>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>

    <select id="selectMusicRecognitionById" parameterType="Long" resultMap="MusicRecognitionResult">
        <include refid="selectMusicRecognitionVo"/>
        where id = #{id}
    </select>

    <insert id="insertMusicRecognition" parameterType="MusicRecognition" useGeneratedKeys="true" keyProperty="id">
        insert into music_recognition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instrumentId != null">instrument_id,</if>
            <if test="result != null">result,</if>
            <if test="url != null">url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="instrumentId != null">#{instrumentId},</if>
            <if test="result != null">#{result},</if>
            <if test="url != null">#{url},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateMusicRecognition" parameterType="MusicRecognition">
        update music_recognition
        <trim prefix="SET" suffixOverrides=",">
            <if test="instrumentId != null">instrument_id = #{instrumentId},</if>
            <if test="result != null">result = #{result},</if>
            <if test="url != null">url = #{url},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMusicRecognitionById" parameterType="Long">
        delete from music_recognition where id = #{id}
    </delete>

    <delete id="deleteMusicRecognitionByIds" parameterType="String">
        delete from music_recognition where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>