<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.instrument.cms.forum.mapper.CmsForumMapper">
    
    <resultMap type="CmsForum" id="CmsForumResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="title"    column="title"    />
        <result property="contentType"    column="content_type"    />
        <result property="content"    column="content"    />
        <result property="contentMarkdown"    column="content_markdown"    />
        <result property="top"    column="Top"    />
        <result property="views"    column="views"    />
        <result property="status"    column="status"    />
        <result property="blogPicType"    column="blog_pic_type"    />
        <result property="blogPic"    column="blog_pic"    />
        <result property="blogPicLink"    column="blog_pic_link"    />
        <result property="blogDesc"    column="blog_desc"    />
    </resultMap>

    <sql id="selectCmsForumVo">
        select id, create_by, create_time, update_by, update_time, title, content_type, content, content_markdown, Top, views, status, blog_pic_type, blog_pic, blog_pic_link, blog_desc from cms_forum
    </sql>

    <select id="selectCmsForumList" parameterType="CmsForum" resultMap="CmsForumResult">
        <include refid="selectCmsForumVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="top != null  and top != ''"> and Top = #{top}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="blogPic != null  and blogPic != ''"> and blog_pic = #{blogPic}</if>
            <if test="blogPicLink != null  and blogPicLink != ''"> and blog_pic_link = #{blogPicLink}</if>
            <if test="blogDesc != null  and blogDesc != ''"> and blog_desc = #{blogDesc}</if>
        </where>
    </select>
    
    <select id="selectCmsForumById" parameterType="Long" resultMap="CmsForumResult">
        <include refid="selectCmsForumVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmsForum" parameterType="CmsForum" useGeneratedKeys="true" keyProperty="id">
        insert into cms_forum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="contentType != null and contentType != ''">content_type,</if>
            <if test="content != null">content,</if>
            <if test="contentMarkdown != null">content_markdown,</if>
            <if test="top != null">Top,</if>
            <if test="views != null">views,</if>
            <if test="status != null">status,</if>
            <if test="blogPicType != null">blog_pic_type,</if>
            <if test="blogPic != null">blog_pic,</if>
            <if test="blogPicLink != null">blog_pic_link,</if>
            <if test="blogDesc != null">blog_desc,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="contentType != null and contentType != ''">#{contentType},</if>
            <if test="content != null">#{content},</if>
            <if test="contentMarkdown != null">#{contentMarkdown},</if>
            <if test="top != null">#{top},</if>
            <if test="views != null">#{views},</if>
            <if test="status != null">#{status},</if>
            <if test="blogPicType != null">#{blogPicType},</if>
            <if test="blogPic != null">#{blogPic},</if>
            <if test="blogPicLink != null">#{blogPicLink},</if>
            <if test="blogDesc != null">#{blogDesc},</if>
         </trim>
    </insert>

    <update id="updateCmsForum" parameterType="CmsForum">
        update cms_forum
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="contentType != null and contentType != ''">content_type = #{contentType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contentMarkdown != null">content_markdown = #{contentMarkdown},</if>
            <if test="top != null">Top = #{top},</if>
            <if test="views != null">views = #{views},</if>
            <if test="status != null">status = #{status},</if>
            <if test="blogPicType != null">blog_pic_type = #{blogPicType},</if>
            <if test="blogPic != null">blog_pic = #{blogPic},</if>
            <if test="blogPicLink != null">blog_pic_link = #{blogPicLink},</if>
            <if test="blogDesc != null">blog_desc = #{blogDesc},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmsForumById" parameterType="Long">
        delete from cms_forum where id = #{id}
    </delete>

    <delete id="deleteCmsForumByIds" parameterType="String">
        delete from cms_forum where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>